/.github
/.husky
/.vscode
/coverage
/e2e
/db
/scripts
/src
/tests

/.editorconfig
/.eslintrc
/codecov.yml
/docker-compose.yml
/jest.config.js
/knexfile.js
/RELEASE_NOTES.md
/rollup.config.js
/tsconfig.json
